body {
    background-color: rgb(192, 252, 252);
    margin: auto;
    align-items: center;
    max-width: 600px;
}

.container {
    margin: 15px 10px;
}

.card {
    background-color: #fff;
    padding: 10px;
    margin: 20px 5px 5px 5px;
    border-radius: 5px;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.5) 5px 7px;
    border: rgba(46, 44, 44, 0.568) .5px solid;
}

.text-heading {
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.171) 1px 1px;
    color: rgb(44, 42, 42);
}

.text {
    color: rgb(44, 42, 42);
}
.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.center{
    display: block;
    margin: auto;
}
.col{
    flex-grow: 1;
    width: 50%;
}